.recommendations-container {
    margin-top: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.recommendations-container h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.recommendations-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive grid */
    gap: 20px;
}

.recommendation-card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.recommendation-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.recommendation-image {
    width: 100%;
    border-radius: 6px;
    object-fit: cover;
    height: 150px;
    margin-bottom: 10px;
}

.recommendation-title {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.recommendation-artist {
    font-size: 0.9rem;
    color: #666;
}
