

.footer {
    background: linear-gradient(120deg,#774ea1,#e76e91, #f3a183 );;
    padding: 1rem;
    display: flex;
    justify-content: center;
    color: white;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0;
    
  }

  
  
  .footer ul {
    list-style-type: none;
  }
  
  .footer li {
    display: inline;
    margin: 0 1rem;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    font-family: "Instrument Sans";
    font-weight: 550;
  }
  
  .footer a:hover {
    transform: scale(1.04);
}
  