/* index.css */

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
    font-size: 4rem; /* Increase the font size */
    font-weight: bold;
    margin-bottom: 15px;
    /* letter-spacing: 0.31em; /* 31% letter spacing */
}
/* Apply global font and background color */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif; /* Set Helvetica Neue as the default font */
  background: linear-gradient(120deg,#774ea1,#e76e91, #f3a183 );
  animation: gradientAnimation 10s ease infinite;
  color: #333;
}


/* Global container styling */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
